plugin/*
**/packer_compiled.lua
**/secrets.lua
lazy-lock.json
.supermaven/
after/
ftdetect/jupynium.vim
repro.lua
snippets/python.json
spell/ltex*

CLAUDE.md
.devenv/
devenv.lock

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
